body {
   
    background-color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: azure;
}
.details1 {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.image-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.image-container div {
    margin: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display:block;
}
.Technicalskills {
    text-align: center;
    padding-bottom:50px;
}

.skills {
    display: inline-block;
    text-align: left;
    color: blue;
}

.ul {
    list-style-type:disc;
    padding: 0;
    margin: 0;
    color: blue;
}

footer  {
    background-color:tomato;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100;
    line-height: 2.0;
}

footer p {
    margin: 0;
    padding: 0;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-button1{
    background-color: black;
    text-align: center;
    color: whitesmoke;
    text-decoration: none; /* Changed from 'solid' to 'none' */
    border-radius: 75px;
    border: none; /* Optional: remove default border */
    padding: 5px 15px; /* Optional: add padding for better appearance */
    font-size: medium;
    padding: 10px 10px 10px;
}


.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    display:block;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-button1:hover{
    color: black;
    background-color:cornsilk;
    font-weight: bold;
}